h1{font-family: 'Rubik'}
body{background-color: #210059;}
.abdntopBanner{background-color:#210059;position:fixed;}
.abdnBanner{background-color:#210059;}
.accLink:hover{text-decoration: underline; color:white;}
.accLink{color:white; text-decoration:none;}
.mapLink{color:#210059; text-decoration:none;}
.mapLink:hover{color: #210059; text-decoration: none;box-shadow: 5px 5px #0000002a;} 
nav{color:white;}
.headerCaption{background: linear-gradient(to top, #210059, rgba(0,0,0,0) 100%);}
a{font-family:"Rubik";text-decoration:none;color:#EE55A6;}
a:hover{font-family:"Rubik";text-decoration:underline;color:#EE55A6}
.noHover:hover{text-decoration:none;}
.transURL{text-decoration:none;}

.iconBar:hover{text-decoration:none;}
.imgCap{font-family:"Rubik";text-decoration:none;color:#210059;}
.capLink{font-family:"Rubik";text-decoration:none;color:#210059}
.mainLink{font-family: 'Rubik';font-size:1.4em;font-weight: bold;color:#210059;}
.mainLink:hover{font-family: 'Rubik';font-size:1.4em;font-weight: bold;color:#210059;text-decoration: underline;}
.textShadow{text-shadow: 5px 5px 10px black;}
img{max-width:100%;width:100%;}
#navColour{background-color: #210059;}
#accLogo{height:40px;width:45px;}
li{font-family: 'Rubik';font-weight:200;}
p{font-family: 'Rubik';font-weight:200;}



/* md */
@media screen and (max-width: 1200px) {
    body {
        font-size: 0.9em;
         
    }
    .display-5{font-size:2.5em;font-weight:500}
        .display-3{font-size:1.5em;font-weight:500}
        .display-4{font-size:1.5em;font-weight:500;}
        .display-6{font-size:1.5em;font-weight:300}
        .mainTitle{font-size:6em;}
        .footText{font-size:10px}
        .nav-link{font-size:1.2em;font-weight:500}
        .navText{font-size:1.2em;font-weight:500}
        .large{font-size:2em;font-weight:500;}
    .veryLarge{font-size:2.5em;font-weight:500}
    

    .lg-view{
        display:inline-block;
     }
     
     .sm-view{
        display:none;
     }
 }


/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.2em;
        
    }
    .display-5{font-size:2.5em;font-weight:500}
    .display-4{font-size:2em;font-weight:500;}
    .display-3{font-size:2em;font-weight:500}
    .display-6{font-size:2em;font-weight:300}
    .mainTitle{font-size:6em;}
    .footText{font-size:1em}
    .nav-link{font-size:1.2em;font-weight:500}
    .navText{font-size:1.2em;font-weight:500}
    .large{font-size:3em;font-weight:500;}
    .veryLarge{font-size:5em;font-weight:500}

    
     .lg-view{
        display:inline-block;
     }
     
     .sm-view{
        display:none;
     }
 }


 /* xs */
 @media screen and (max-width: 576px) {
    
     .lg-view{
        display:none;
     }
     
     .sm-view{
        display:inline-block;
     }
 }